
@import '_global';

$browsers: -webkit-,-moz-,-o-,-ms-;

@mixin animation {
	@each $br in $browsers {
		#{$br}transition: all 0.3s ease-in-out 0s;
	}
}


@mixin titleText {
	h3 {
		font-family: 'Roboto Condensed';
		color: $primary2;
		font-weight: 400;

		> div {
			&:nth-child(2) {
				height: 1px;
				background: $primary2;
			}

			&:nth-child(3) {
				height: 5px;
				width: 15%;
				background: $primary2;
			}
		}
	}
}
