
@import '_mixin';


.cv-profile1 {
	header {
		.cv-background {
			background-color: $primary;

			h4 {
				color: $white;
			}
		}

		h1 {
			color: $primary;
		}
	}

	section {
		&.cv-background {
			background-color: $primary;

			h3 {
				color: $white;
			}

			h6 {
				color: $white;
			}
		}
	}
}